<div>
    <h2 class="text-center mt-4"><u>{{state_name}}</u></h2><br>
    <div class="row">
        <div class="col-sm-8">
            <canvas style="padding-left: 50px;" id="districtChart" width="900" height="300"></canvas>
        </div>
        <div class="col-sm-4">
            <span style="background-color: olive;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Active Cases <br>
            <span style="background-color: purple;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Confirmed Cases <br>
        </div>
    </div>
</div>
<div class="canvas mt-4" style="padding: 50px;">
    <canvas id="doughnutChart" width="900" height="300"></canvas>
</div>
<div class="canvas mt-4" style="padding: 50px;">
    <canvas id="lineChart" width="900" height="300"></canvas>
</div>